Repository Nexora-Technology/Nexora_Management: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/backend && dotnet format, eslint --fix, prettier --write

feat(backend): add document management with pages, versions, collaborators
  apps/backend/src/Nexora.Management.API/Endpoints/DocumentEndpoints.cs
  apps/backend/src/Nexora.Management.API/Nexora.Management.API.csproj
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/20260104112014_AddDocumentTables.Designer.cs
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/20260104112014_AddDocumentTables.cs
  apps/backend/src/Nexora.Management.API/Program.cs
  apps/backend/src/Nexora.Management.Application/Documents/Commands/CreatePage/CreatePageCommand.cs
  apps/backend/src/Nexora.Management.Application/Documents/Commands/DeletePage/DeletePageCommand.cs
  apps/backend/src/Nexora.Management.Application/Documents/Commands/MovePage/MovePageCommand.cs
  apps/backend/src/Nexora.Management.Application/Documents/Commands/RestorePageVersion/RestorePageVersionCommand.cs
  apps/backend/src/Nexora.Management.Application/Documents/Commands/ToggleFavorite/ToggleFavoriteCommand.cs
  apps/backend/src/Nexora.Management.Application/Documents/Commands/UpdatePage/UpdatePageCommand.cs
  apps/backend/src/Nexora.Management.Application/Documents/DTOs/DocumentDTOs.cs
  apps/backend/src/Nexora.Management.Application/Documents/Queries/GetPageByIdQuery.cs
  apps/backend/src/Nexora.Management.Application/Documents/Queries/GetPageHistoryQuery.cs
  apps/backend/src/Nexora.Management.Application/Documents/Queries/GetPageTreeQuery.cs
  apps/backend/src/Nexora.Management.Application/Documents/Queries/SearchPagesQuery.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Page.cs
  apps/backend/src/Nexora.Management.Domain/Entities/PageCollaborator.cs
  apps/backend/src/Nexora.Management.Domain/Entities/PageComment.cs
  apps/backend/src/Nexora.Management.Domain/Entities/PageVersion.cs
  apps/backend/src/Nexora.Management.Infrastructure/Interfaces/IAppDbContext.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/AppDbContext.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/CommentConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/PageCollaboratorConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/PageCommentConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/PageConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/PageVersionConfiguration.cs
Due: cd apps/backend && dotnet format

feat(frontend): implement tasks feature and document management UI
  .dockerignore
  Dockerfile.frontend
  apps/frontend/eslint.config.mjs
  apps/frontend/postcss.config.mjs
  apps/frontend/src/app/(auth)/forgot-password/page.tsx
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/projects/[id]/page.tsx
  apps/frontend/src/app/tasks/[id]/page.tsx
  apps/frontend/src/app/tasks/board/page.tsx
  apps/frontend/src/app/tasks/page.tsx
  apps/frontend/src/app/workspaces/[id]/projects/page.tsx
  apps/frontend/src/app/workspaces/page.tsx
  apps/frontend/src/components/layout/breadcrumb.tsx
  apps/frontend/src/components/layout/sidebar-nav.tsx
  apps/frontend/src/components/tasks/constants.ts
  apps/frontend/src/components/tasks/index.ts
  apps/frontend/src/components/tasks/mock-data.ts
  apps/frontend/src/components/tasks/task-board.tsx
  apps/frontend/src/components/tasks/task-card.tsx
  apps/frontend/src/components/tasks/task-modal.tsx
  apps/frontend/src/components/tasks/task-row.tsx
  apps/frontend/src/components/tasks/task-toolbar.tsx
  apps/frontend/src/components/tasks/types.ts
  apps/frontend/src/components/ui/checkbox.tsx
  apps/frontend/src/components/ui/dialog.tsx
  apps/frontend/src/components/ui/select.tsx
  apps/frontend/src/components/ui/table.tsx
  apps/frontend/src/features/documents/DocumentEditor.tsx
  apps/frontend/src/features/documents/PageList.tsx
  apps/frontend/src/features/documents/PageTree.tsx
  apps/frontend/src/features/documents/Toolbar.tsx
  apps/frontend/src/features/documents/VersionHistory.tsx
  apps/frontend/src/features/documents/api.ts
  apps/frontend/src/features/documents/index.ts
  apps/frontend/src/features/documents/types.ts
  apps/frontend/src/lib/providers.tsx
  docker/docker-compose.yml
Due: eslint --fix, prettier --write

docs: update codebase summary for Phase 05
  docs/codebase-summary.md
Due: prettier --write

feat(frontend): Phase 05 Polish - Accessibility, Animations, Performance
  apps/frontend/plans/reports/code-reviewer-260105-0134-phase05-polish-clickup-design-system.md
  apps/frontend/plans/reports/docs-manager-260105-0121-phase05-polish-partial-complete.md
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/tasks/task-board.tsx
  apps/frontend/src/components/tasks/task-card.tsx
  apps/frontend/src/components/tasks/task-modal.tsx
  apps/frontend/src/components/tasks/task-row.tsx
  apps/frontend/src/components/tasks/task-toolbar.tsx
  docs/code-standards.md
Due: eslint --fix, prettier --write

feat(frontend): Phase 05A - Performance & Accessibility Improvements
  apps/frontend/plans/260104-2033-clickup-design-system/plan.md
  apps/frontend/plans/reports/code-reviewer-260105-0143-phase05a-polish.md
  apps/frontend/plans/reports/docs-manager-260105-0144-phase05a-completion.md
  apps/frontend/plans/reports/project-manager-260105-0139-phase05-polish-tasks-extraction.md
  apps/frontend/plans/reports/project-manager-260105-0144-phase05a-complete.md
  apps/frontend/src/components/tasks/task-board.tsx
  apps/frontend/src/components/tasks/task-card.tsx
  apps/frontend/src/components/tasks/task-modal.tsx
  apps/frontend/src/components/tasks/task-row.tsx
  docs/code-standards.md
Due: eslint --fix, prettier --write

feat(tasks): fix modal, sidebar, add 4 views and hierarchy
  apps/frontend/plans/reports/docs-manager-260106-0047-phase-status-update.md
  apps/frontend/plans/reports/tester-260106-0109-task-hierarchy-multi-view.md
  apps/frontend/plans/reports/ui-ux-designer-260106-0051-sidebar-navigation-fix.md
  apps/frontend/plans/reports/ui-ux-designer-260106-0101-task-hierarchy-multiview.md
  apps/frontend/src/app/(app)/calendar/page.tsx
  apps/frontend/src/app/(app)/documents/page.tsx
  apps/frontend/src/app/(app)/page.tsx
  apps/frontend/src/app/(app)/settings/page.tsx
  apps/frontend/src/app/(app)/tasks/board/page.tsx
  apps/frontend/src/app/(app)/tasks/page.tsx
  apps/frontend/src/app/(app)/team/page.tsx
  apps/frontend/src/components/layout/sidebar-nav.tsx
  apps/frontend/src/components/tasks/index.ts
  apps/frontend/src/components/tasks/mock-data.ts
  apps/frontend/src/components/tasks/task-calendar.tsx
  apps/frontend/src/components/tasks/task-card.tsx
  apps/frontend/src/components/tasks/task-gantt.tsx
  apps/frontend/src/components/tasks/task-modal.tsx
  apps/frontend/src/components/tasks/task-toolbar.tsx
  apps/frontend/src/components/tasks/types.ts
Due: eslint --fix, prettier --write

docs: update documentation for Phase 08 and drag-drop improvements
  README.md
  docs/code-standards.md
  docs/project-overview-pdr.md
  docs/project-roadmap.md
Due: prettier --write

feat(tasks): implement drag-and-drop for Kanban board
  apps/frontend/src/app/(app)/tasks/page.tsx
  apps/frontend/src/components/layout/board-layout.tsx
  apps/frontend/src/components/tasks/draggable-task-card.tsx
  apps/frontend/src/components/tasks/task-board.example.tsx
  apps/frontend/src/components/tasks/task-board.tsx
  apps/frontend/src/components/tasks/task-card.tsx
Due: eslint --fix, prettier --write

feat(backend): Phase 01 - ClickUp Hierarchy Entity Design
  apps/backend/plans/reports/code-reviewer-260107-0124-clickup-hierarchy-phase01.md
  apps/backend/src/Nexora.Management.Domain/Entities/Folder.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Space.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Task.cs
  apps/backend/src/Nexora.Management.Domain/Entities/TaskList.cs
  apps/backend/src/Nexora.Management.Domain/Entities/TaskStatus.cs
  apps/backend/src/Nexora.Management.Domain/Entities/User.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Workspace.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/AppDbContext.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/FolderConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/SpaceConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/TaskConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/TaskListConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/TaskStatusConfiguration.cs
  apps/frontend/plans/260107-0032-fix-kanban-dnd/plan.md
  apps/frontend/plans/260107-0051-clickup-hierarchy-implementation/plan.md
  apps/frontend/plans/reports/debugger-260107-0030-kanban-dnd-debug.md
  apps/frontend/plans/reports/planner-260107-0032-kanban-dnd-fix-plan.md
  apps/frontend/plans/reports/planner-260107-0051-clickup-hierarchy-analysis.md
  apps/frontend/plans/reports/planner-260107-0113-update-clickup-hierarchy-plan.md
  apps/frontend/plans/reports/researcher-260107-0048-clickup-hierarchy-model.md
  apps/frontend/plans/reports/scout-external-260106-1623-backend-exploration.md
  apps/frontend/plans/reports/scout-external-260106-1623-frontend-structure.md
  apps/frontend/plans/reports/tester-260106-1446-taskboard-dnd-test.md
  apps/frontend/plans/reports/ui-ux-designer-260106-1439-drag-drop-kanban.md
  apps/frontend/src/components/tasks/task-board.tsx
Due: cd apps/backend && dotnet format, eslint --fix, prettier --write

feat(backend): Phase 2 - Add ClickUp hierarchy database migration
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/20260106184122_AddClickUpHierarchyTables.Designer.cs
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/20260106184122_AddClickUpHierarchyTables.cs
Due: cd apps/backend && dotnet format

feat(backend): Phase 3 - Add ClickUp hierarchy API endpoints
  apps/backend/src/Nexora.Management.API/Endpoints/FolderEndpoints.cs
  apps/backend/src/Nexora.Management.API/Endpoints/SpaceEndpoints.cs
  apps/backend/src/Nexora.Management.API/Endpoints/TaskListEndpoints.cs
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/AppDbContextModelSnapshot.cs
  apps/backend/src/Nexora.Management.API/Program.cs
  apps/backend/src/Nexora.Management.Application/Folders/Commands/CreateFolder/CreateFolderCommand.cs
  apps/backend/src/Nexora.Management.Application/Folders/Commands/DeleteFolder/DeleteFolderCommand.cs
  apps/backend/src/Nexora.Management.Application/Folders/Commands/UpdateFolder/UpdateFolderCommand.cs
  apps/backend/src/Nexora.Management.Application/Folders/Commands/UpdateFolderPosition/UpdateFolderPositionCommand.cs
  apps/backend/src/Nexora.Management.Application/Folders/DTOs/FolderDto.cs
  apps/backend/src/Nexora.Management.Application/Folders/Queries/GetFolderById/GetFolderByIdQuery.cs
  apps/backend/src/Nexora.Management.Application/Folders/Queries/GetFoldersBySpace/GetFoldersBySpaceQuery.cs
  apps/backend/src/Nexora.Management.Application/Spaces/Commands/CreateSpace/CreateSpaceCommand.cs
  apps/backend/src/Nexora.Management.Application/Spaces/Commands/DeleteSpace/DeleteSpaceCommand.cs
  apps/backend/src/Nexora.Management.Application/Spaces/Commands/UpdateSpace/UpdateSpaceCommand.cs
  apps/backend/src/Nexora.Management.Application/Spaces/DTOs/SpaceDto.cs
  apps/backend/src/Nexora.Management.Application/Spaces/Queries/GetSpaceById/GetSpaceByIdQuery.cs
  apps/backend/src/Nexora.Management.Application/Spaces/Queries/GetSpacesByWorkspace/GetSpacesByWorkspaceQuery.cs
  apps/backend/src/Nexora.Management.Application/TaskLists/Commands/CreateTaskList/CreateTaskListCommand.cs
  apps/backend/src/Nexora.Management.Application/TaskLists/Commands/DeleteTaskList/DeleteTaskListCommand.cs
  apps/backend/src/Nexora.Management.Application/TaskLists/Commands/UpdateTaskList/UpdateTaskListCommand.cs
  apps/backend/src/Nexora.Management.Application/TaskLists/Commands/UpdateTaskListPosition/UpdateTaskListPositionCommand.cs
  apps/backend/src/Nexora.Management.Application/TaskLists/DTOs/TaskListDto.cs
  apps/backend/src/Nexora.Management.Application/TaskLists/Queries/GetTaskListById/GetTaskListByIdQuery.cs
  apps/backend/src/Nexora.Management.Application/TaskLists/Queries/GetTaskLists/GetTaskListsQuery.cs
  apps/backend/src/Nexora.Management.Infrastructure/Interfaces/IAppDbContext.cs
Due: cd apps/backend && dotnet format

feat(frontend): Phase 5 - Add ClickUp hierarchy frontend types & components
  apps/frontend/plans/260107-0051-clickup-hierarchy-implementation/plan.md
  apps/frontend/plans/reports/code-reviewer-260107-0213-clickup-hierarchy-phase5.md
  apps/frontend/plans/reports/docs-manager-260107-0215-clickup-hierarchy-phase05-complete.md
  apps/frontend/plans/reports/project-manager-260107-0215-phase05-frontend-complete.md
  apps/frontend/src/components/spaces/index.ts
  apps/frontend/src/components/spaces/space-tree-nav.tsx
  apps/frontend/src/features/spaces/api.ts
  apps/frontend/src/features/spaces/index.ts
  apps/frontend/src/features/spaces/types.ts
  apps/frontend/src/features/spaces/utils.ts
  docs/codebase-summary.md
  docs/project-roadmap.md
  docs/system-architecture.md
Due: eslint --fix, prettier --write

feat(frontend): Phase 06 - Frontend Pages & Routes
  apps/frontend/src/app/(app)/lists/[id]/page.tsx
  apps/frontend/src/app/(app)/spaces/page.tsx
  apps/frontend/src/app/(app)/tasks/[id]/page.tsx
  apps/frontend/src/components/layout/sidebar-nav.tsx
  apps/frontend/src/components/tasks/task-modal.tsx
  apps/frontend/src/components/tasks/types.ts
Due: eslint --fix, prettier --write

docs: update Phase 06 ClickUp hierarchy implementation
  apps/frontend/plans/260107-0051-clickup-hierarchy-implementation/plan.md
  apps/frontend/plans/reports/code-reviewer-260107-1328-phase06-frontend-pages-routes.md
Due: prettier --write

fix(frontend): Phase 07 - Test Requirements & Type Fixes
  README.md
  apps/backend/plans/reports/code-reviewer-260107-0142-clickup-hierarchy-migration.md
  apps/backend/plans/reports/docs-manager-260107-0126-phase09-clickup-hierarchy-phase1-complete.md
  apps/backend/plans/reports/project-manager-260107-0133-phase2-database-migration-tasks.md
  apps/frontend/plans/260107-0051-clickup-hierarchy-implementation/plan.md
  apps/frontend/plans/reports/code-reviewer-260107-1356-phase07-test-requirements.md
  apps/frontend/plans/reports/docs-manager-260107-1332-phase06-complete.md
  apps/frontend/plans/reports/phase07-test-requirements.md
  apps/frontend/plans/reports/project-manager-260107-1332-phase06-complete.md
  apps/frontend/src/app/(app)/lists/[id]/page.tsx
  apps/frontend/src/app/(app)/spaces/page.tsx
  apps/frontend/src/app/(app)/tasks/[id]/page.tsx
  docs/codebase-summary.md
  docs/project-roadmap.md
  docs/system-architecture.md
Due: eslint --fix, prettier --write

feat(frontend): Phase 08 - Workspace Context & Auth Integration
  apps/frontend/plans/260107-0051-clickup-hierarchy-implementation/plan.md
  apps/frontend/plans/reports/code-reviewer-260107-1419-phase08-workspace-context.md
  apps/frontend/plans/reports/docs-manager-260107-1400-documentation-summary.md
  apps/frontend/plans/reports/docs-manager-260107-1400-phase07-testing-deferred.md
  apps/frontend/plans/reports/project-manager-260107-1400-phase07-testing-deferred.md
  apps/frontend/src/app/(app)/spaces/page.tsx
  apps/frontend/src/components/layout/app-header.tsx
  apps/frontend/src/components/workspaces/index.ts
  apps/frontend/src/components/workspaces/workspace-selector.tsx
  apps/frontend/src/features/workspaces/api.ts
  apps/frontend/src/features/workspaces/index.ts
  apps/frontend/src/features/workspaces/types.ts
  apps/frontend/src/features/workspaces/workspace-provider.tsx
  apps/frontend/src/lib/providers.tsx
  docs/codebase-summary.md
  docs/project-roadmap.md
  docs/system-architecture.md
Due: eslint --fix, prettier --write

feat(backend): Phase 2 - Database Migration for ClickUp Hierarchy
  README.md
  apps/backend/docs/migration/MIGRATION_README.md
  apps/backend/docs/migration/ROLLBACK_PROCEDURES.md
  apps/backend/plans/reports/code-reviewer-260107-2211-clickup-phase2-migration.md
  apps/backend/scripts/MigrateProjectsToTaskLists.sql
  apps/backend/scripts/MigrateTasksToTaskLists.sql
  apps/backend/scripts/RollbackMigration.sql
  apps/backend/scripts/ValidateMigration.sql
  apps/backend/src/Nexora.Management.API/Endpoints/AttachmentEndpoints.cs
  apps/backend/src/Nexora.Management.API/Endpoints/CommentEndpoints.cs
  apps/backend/src/Nexora.Management.API/Endpoints/TaskEndpoints.cs
  apps/backend/src/Nexora.Management.API/Hubs/TaskHub.cs
  apps/backend/src/Nexora.Management.Application/DTOs/SignalR/TaskUpdatedMessage.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Commands/CreateTask/CreateTaskCommand.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Commands/DeleteTask/DeleteTaskCommand.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Commands/UpdateTask/UpdateTaskCommand.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Commands/UpdateTaskStatus/UpdateTaskStatusCommand.cs
  apps/backend/src/Nexora.Management.Application/Tasks/DTOs/TaskDTOs.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Queries/TaskQueries.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Queries/ViewQueries/BoardViewQuery.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Queries/ViewQueries/CalendarViewQuery.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Queries/ViewQueries/GanttViewQuery.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Project.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Task.cs
  apps/frontend/plans/260107-0051-clickup-hierarchy-implementation/plan.md
  apps/frontend/plans/reports/clickup-hierarchy-frontend-complete-260107.md
  apps/frontend/plans/reports/docs-manager-260107-1427-phase08-workspace-context-complete.md
  apps/frontend/plans/reports/docs-manager-260107-1530-documentation-update.md
  apps/frontend/plans/reports/project-manager-260107-1427-phase08-workspace-context-complete.md
  apps/frontend/plans/reports/project-manager-260107-1555-phase02-database-migration-analysis.md
  apps/frontend/plans/reports/scout-external-260107-1524-src-structure.md
  docs/codebase-summary.md.backup
  docs/project-overview-pdr.md
  docs/project-roadmap.md
  docs/system-architecture.md
Due: cd apps/backend && dotnet format, prettier --write

feat(backend): Phase 03 & 04 - API Endpoints & CQRS Complete
  README.md
  apps/backend/README.md
  apps/backend/plans/reports/docs-manager-260107-2217-phase02-documentation-update.md
  apps/backend/src/Nexora.Management.API/Endpoints/FolderEndpoints.cs
  apps/backend/src/Nexora.Management.API/Endpoints/SpaceEndpoints.cs
  apps/backend/src/Nexora.Management.API/Endpoints/TaskListEndpoints.cs
  apps/frontend/plans/260107-0051-clickup-hierarchy-implementation/plan.md
  apps/frontend/plans/reports/project-manager-260107-2217-phase02-database-migration-complete.md
  docs/codebase-summary.md
  docs/project-roadmap.md
  docs/system-architecture.md
Due: cd apps/backend && dotnet format, prettier --write

feat(dashboards): implement Phase 10 - Dashboards & Reporting System
  .gitignore
  README.md
  apps/backend/plans/reports/debugger-260109-2029-phase10-critical-fixes.md
  apps/backend/src/Nexora.Management.API/Endpoints/AnalyticsEndpoints.cs
  apps/backend/src/Nexora.Management.API/Endpoints/DashboardEndpoints.cs
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/20260109200000_AddDashboardsAndAnalytics.cs
  apps/backend/src/Nexora.Management.API/Program.cs
  apps/backend/src/Nexora.Management.Application/Analytics/DTOs/AnalyticsDTOs.cs
  apps/backend/src/Nexora.Management.Application/Analytics/Queries/GetDashboardStats/GetDashboardStatsQuery.cs
  apps/backend/src/Nexora.Management.Application/Analytics/Queries/GetProjectProgress/GetProjectProgressQuery.cs
  apps/backend/src/Nexora.Management.Application/Analytics/Queries/GetTeamWorkload/GetTeamWorkloadQuery.cs
  apps/backend/src/Nexora.Management.Application/Dashboards/Commands/CreateDashboard/CreateDashboardCommand.cs
  apps/backend/src/Nexora.Management.Application/Dashboards/Commands/DeleteDashboard/DeleteDashboardCommand.cs
  apps/backend/src/Nexora.Management.Application/Dashboards/Commands/UpdateDashboard/UpdateDashboardCommand.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Dashboard.cs
  apps/backend/src/Nexora.Management.Infrastructure/Interfaces/IAppDbContext.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/AppDbContext.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/DashboardConfiguration.cs
  apps/frontend/.turbo/turbo-build.log
  apps/frontend/.turbo/turbo-test.log
  apps/frontend/package.json
  apps/frontend/plans/reports/code-reviewer-260109-2026-phase10-step2-dashboards-analytics.md
  apps/frontend/plans/reports/fullstack-developer-260109-2007-phase10-dashboards-reporting.md
  apps/frontend/src/app/(app)/dashboards/[id]/page.tsx
  apps/frontend/src/app/(app)/dashboards/page.tsx
  apps/frontend/src/app/(app)/reports/page.tsx
  apps/frontend/src/components/analytics/chart-container.tsx
  apps/frontend/src/components/analytics/dashboard-stats.tsx
  apps/frontend/src/components/analytics/stats-card.tsx
  apps/frontend/src/lib/services/analytics-service.ts
  apps/frontend/src/lib/services/dashboard-service.ts
  docs/codebase-summary.md
  docs/project-roadmap.md
  docs/system-architecture.md
  package-lock.json
Due: cd apps/backend && dotnet format, eslint --fix, prettier --write

feat(test): Phase 12 - Testing Infrastructure Complete
  .gitignore
  README.md
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/AppDbContextModelSnapshot.cs
  apps/backend/src/Nexora.Management.API/Program.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/AppDbContext.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/TaskConfiguration.cs
  apps/backend/tests/Nexora.Management.Tests/Application/Authentication/RegisterCommandTests.cs
  apps/backend/tests/Nexora.Management.Tests/Application/Tasks/CreateTaskCommandTests.cs
  apps/backend/tests/Nexora.Management.Tests/Core/Entities/TaskTests.cs
  apps/backend/tests/Nexora.Management.Tests/Core/Entities/UserTests.cs
  apps/backend/tests/Nexora.Management.Tests/Core/Entities/WorkspaceTests.cs
  apps/backend/tests/Nexora.Management.Tests/Helpers/TestBase.cs
  apps/backend/tests/Nexora.Management.Tests/Helpers/TestDataBuilder.cs
  apps/backend/tests/Nexora.Management.Tests/Infrastructure/Persistence/AppDbContextTests.cs
  apps/backend/tests/Nexora.Management.Tests/Nexora.Management.Tests.csproj
  apps/backend/tests/Nexora.Management.Tests/TestAppDbContextFactory.cs
  apps/backend/tests/Nexora.Management.Tests/UnitTest1.cs
  apps/frontend/package.json
  docs/code-standards.md
  docs/codebase-summary.md
  docs/deployment-guide.md
  docs/project-roadmap.md
  docs/system-architecture.md
  package-lock.json
  package.json
Due: cd apps/backend && dotnet format, prettier --write

feat(workspace): implement Phase 04 - Workspace Member Management
  .gitignore
  apps/backend/src/Nexora.Management.API/Endpoints/WorkspaceEndpoints.cs
  apps/backend/src/Nexora.Management.API/Program.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Commands/AddWorkspaceMember/AddWorkspaceMemberCommand.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Commands/AddWorkspaceMember/AddWorkspaceMemberCommandHandler.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Commands/RemoveWorkspaceMember/RemoveWorkspaceMemberCommand.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Commands/RemoveWorkspaceMember/RemoveWorkspaceMemberCommandHandler.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Commands/TransferWorkspaceOwnership/TransferWorkspaceOwnershipCommand.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Commands/TransferWorkspaceOwnership/TransferWorkspaceOwnershipCommandHandler.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Commands/UpdateWorkspaceMemberRole/UpdateWorkspaceMemberRoleCommand.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Commands/UpdateWorkspaceMemberRole/UpdateWorkspaceMemberRoleCommandHandler.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/DTOs/AddWorkspaceMemberRequest.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/DTOs/TransferWorkspaceOwnershipRequest.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/DTOs/UpdateWorkspaceMemberRoleRequest.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/DTOs/UserWorkspaceResponse.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/DTOs/WorkspaceMemberResponse.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Queries/GetUserWorkspaces/GetUserWorkspacesQuery.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Queries/GetUserWorkspaces/GetUserWorkspacesQueryHandler.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Queries/GetWorkspaceMemberById/GetWorkspaceMemberByIdQuery.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Queries/GetWorkspaceMemberById/GetWorkspaceMemberByIdQueryHandler.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Queries/GetWorkspaceMembers/GetWorkspaceMembersQuery.cs
  apps/backend/src/Nexora.Management.Application/Workspaces/Queries/GetWorkspaceMembers/GetWorkspaceMembersQueryHandler.cs
  apps/frontend/vitest.config.ts
Due: cd apps/backend && dotnet format, eslint --fix, prettier --write

fix(docker): fix frontend Dockerfile for turborepo structure
  Dockerfile.frontend
  docker/docker-compose.override.yml
  docker/docker-compose.yml
Due: none

fix(api): add missing CorsSettings class for GitHub Actions CI
  apps/backend/src/Nexora.Management.API/Common/CorsSettings.cs
Due: cd apps/backend && dotnet format

feat(skills): add GitHub Manager skill for workflow automation
  .claude/skills/github-manager/SKILL.md
  .claude/skills/github-manager/assets/example_asset.txt
  .claude/skills/github-manager/references/api_reference.md
  .claude/skills/github-manager/references/best-practices.md
  .claude/skills/github-manager/references/debugging.md
  .claude/skills/github-manager/references/docker-actions.md
  .claude/skills/github-manager/references/workflows.md
  .claude/skills/github-manager/scripts/analyze-workflow.py
  .claude/skills/github-manager/scripts/check-workflow.py
  .claude/skills/github-manager/scripts/example.py
  .claude/skills/github-manager/scripts/fix-workflow.py
  .claude/skills/github-manager/scripts/git-operations.py
  .claude/skills/github-manager/scripts/requirements.txt
  .claude/skills/github-manager/scripts/test_scripts.py
  github-manager.zip
Due: prettier --write

fix(frontend): add passWithNoTests flag to vitest for CI
  apps/frontend/package.json
Due: prettier --write

fix(frontend): update params to Promise type for Next.js 15.5
  apps/frontend/src/app/(app)/dashboards/[id]/page.tsx
Due: eslint --fix, prettier --write

fix(frontend): import use hook from react instead of react-query
  apps/frontend/src/app/(app)/dashboards/[id]/page.tsx
Due: eslint --fix, prettier --write

fix(docker): include node_modules in frontend image
  Dockerfile.frontend
Due: none

feat(frontend): add missing features to sidebar menu
  .dockerignore
  .lintstagedrc.json
  Dockerfile.backend
  Dockerfile.frontend
  README.md
  apps/backend/.dockerignore
  apps/backend/src/Nexora.Management.API/Logs/nexora-20260112.log
  apps/backend/src/Nexora.Management.API/Properties/launchSettings.json
  apps/frontend/.turbo/turbo-build.log
  apps/frontend/next.config.ts
  apps/frontend/plans/reports/scout-external-260112-1347-frontend-architecture.md
  apps/frontend/src/app/(app)/analytics/page.tsx
  apps/frontend/src/app/(app)/folders/page.tsx
  apps/frontend/src/components/layout/sidebar-nav.tsx
  docs/code-standards.md
  docs/codebase-summary.md
  docs/deployment-guide.md
  docs/project-overview-pdr.md
  docs/system-architecture.md
Due: eslint --fix, prettier --write

Path conditions:
  cd apps/backend && dotnet format: any of: *.{cs,csproj}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md})
