Repository Nexora-Technology/Nexora_Management: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet format --include, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{cs,csproj}": ["dotnet format --include"],
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

chore(frontend): configure Next.js and development environment
  apps/frontend/components.json
  apps/frontend/eslint.config.mjs
  apps/frontend/next.config.ts
  apps/frontend/package.json
  apps/frontend/postcss.config.mjs
  apps/frontend/tailwind.config.ts
  apps/frontend/tsconfig.json
  docker/README.md
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  docker/postgres-init/01-init.sql
Due: eslint --fix, prettier --write

feat(frontend): implement initial UI components and layout
  apps/frontend/public/file.svg
  apps/frontend/public/globe.svg
  apps/frontend/public/next.svg
  apps/frontend/public/vercel.svg
  apps/frontend/public/window.svg
  apps/frontend/src/app/favicon.ico
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/components/ui/card.tsx
  apps/frontend/src/components/ui/sonner.tsx
  apps/frontend/src/lib/api-client.ts
  apps/frontend/src/lib/providers.tsx
  apps/frontend/src/lib/utils.ts
Due: eslint --fix, prettier --write

chore(backend): initialize .NET solution structure
  apps/backend/Nexora.Management.sln
  apps/backend/README.md
Due: prettier --write

feat(domain): implement core entity models
  apps/backend/src/Nexora.Management.Domain/Class1.cs
  apps/backend/src/Nexora.Management.Domain/Common/BaseEntity.cs
  apps/backend/src/Nexora.Management.Domain/Entities/ActivityLog.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Attachment.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Comment.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Permission.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Project.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Role.cs
  apps/backend/src/Nexora.Management.Domain/Entities/RolePermission.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Task.cs
  apps/backend/src/Nexora.Management.Domain/Entities/TaskStatus.cs
  apps/backend/src/Nexora.Management.Domain/Entities/User.cs
  apps/backend/src/Nexora.Management.Domain/Entities/UserRole.cs
  apps/backend/src/Nexora.Management.Domain/Entities/Workspace.cs
  apps/backend/src/Nexora.Management.Domain/Entities/WorkspaceMember.cs
  apps/backend/src/Nexora.Management.Domain/Nexora.Management.Domain.csproj
Due: dotnet format --include

feat(infrastructure): implement persistence layer with EF Core
  apps/backend/src/Nexora.Management.Infrastructure/Class1.cs
  apps/backend/src/Nexora.Management.Infrastructure/Interfaces/IAppDbContext.cs
  apps/backend/src/Nexora.Management.Infrastructure/Nexora.Management.Infrastructure.csproj
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/AppDbContext.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/AppDbContextFactory.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/ActivityLogConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/AttachmentConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/CommentConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/PermissionConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/ProjectConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/RoleConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/RolePermissionConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/TaskConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/TaskStatusConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/UserConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/UserRoleConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/WorkspaceConfiguration.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/WorkspaceMemberConfiguration.cs
Due: dotnet format --include

feat(api): add EF Core migrations and configuration
  apps/backend/src/Nexora.Management.API/DesignTimeDbContextFactory.cs
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/20260103071610_InitialCreate.Designer.cs
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/20260103071610_InitialCreate.cs
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/20260103071738_EnableRowLevelSecurity.Designer.cs
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/20260103071738_EnableRowLevelSecurity.cs
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/20260103071908_SeedRolesAndPermissions.Designer.cs
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/20260103071908_SeedRolesAndPermissions.cs
  apps/backend/src/Nexora.Management.API/Persistence/Migrations/AppDbContextModelSnapshot.cs
  apps/backend/src/Nexora.Management.API/appsettings.Development.json
  apps/backend/src/Nexora.Management.API/appsettings.json
Due: dotnet format --include, prettier --write

feat(api): configure dependency injection and middleware
  apps/backend/src/Nexora.Management.API/Nexora.Management.API.csproj
  apps/backend/src/Nexora.Management.API/Nexora.Management.API.http
  apps/backend/src/Nexora.Management.API/Program.cs
  apps/backend/src/Nexora.Management.API/Properties/launchSettings.json
Due: dotnet format --include, prettier --write

chore(backend): add application and test project scaffolding
  apps/backend/src/Nexora.Management.Application/Class1.cs
  apps/backend/src/Nexora.Management.Application/Common/ApiResponse.cs
  apps/backend/src/Nexora.Management.Application/Common/Exceptions.cs
  apps/backend/src/Nexora.Management.Application/Common/PagedResponse.cs
  apps/backend/src/Nexora.Management.Application/Nexora.Management.Application.csproj
  apps/backend/tests/Nexora.Management.Tests/Nexora.Management.Tests.csproj
  apps/backend/tests/Nexora.Management.Tests/UnitTest1.cs
Due: dotnet format --include

chore(frontend): add Docker configuration and documentation
  apps/frontend/.dockerignore
  apps/frontend/.gitignore
  apps/frontend/Dockerfile.backend
  apps/frontend/Dockerfile.frontend
  apps/frontend/README.md
  apps/frontend/docker/README.md
  apps/frontend/docker/docker-compose.override.yml
  apps/frontend/docker/docker-compose.yml
  apps/frontend/docker/postgres-init/01-init.sql
Due: prettier --write

chore(backend): add test coverage report
  apps/backend/TestResults/cf0856ac-8bed-4cf2-87ae-bf95970d75d1/coverage.cobertura.xml
Due: none

chore: add temporary Vim swap file
  .CLAUDE.md.swp
Due: none

chore: add monorepo configuration
  package.json
  turbo.json
Due: prettier --write

docs: add comprehensive project documentation
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/deployment-guide.md
  docs/development-standards.md
  docs/infrastructure-setup.md
Due: prettier --write

docs: update repository URLs in documentation
  CONTRIBUTING.md
  README.md
Due: prettier --write

feat(auth): implement JWT authentication and authorization
  .lintstagedrc.json
  apps/backend/TestResults/1d23d918-b17b-433d-a30a-6aba29b7b807/coverage.cobertura.xml
  apps/backend/plans/reports/code-reviewer-260103-1527-auth-phase03.md
  apps/backend/plans/reports/docs-manager-260103-1529-auth-implementation.md
  apps/backend/plans/reports/tester-260103-1526-auth-tests.md
  apps/backend/src/Nexora.Management.API/Endpoints/AuthEndpoints.cs
  apps/backend/src/Nexora.Management.API/Nexora.Management.API.csproj
  apps/backend/src/Nexora.Management.API/Program.cs
  apps/backend/src/Nexora.Management.API/appsettings.json
  apps/backend/src/Nexora.Management.Application/Authentication/Commands/Login/LoginCommand.cs
  apps/backend/src/Nexora.Management.Application/Authentication/Commands/RefreshToken/RefreshTokenCommand.cs
  apps/backend/src/Nexora.Management.Application/Authentication/Commands/Register/RegisterCommand.cs
  apps/backend/src/Nexora.Management.Application/Authentication/DTOs/AuthRequests.cs
  apps/backend/src/Nexora.Management.Application/Authentication/DTOs/AuthResponses.cs
  apps/backend/src/Nexora.Management.Application/Common/Result.cs
  apps/backend/src/Nexora.Management.Application/Nexora.Management.Application.csproj
  apps/backend/src/Nexora.Management.Domain/Entities/RefreshToken.cs
  apps/backend/src/Nexora.Management.Domain/Entities/User.cs
  apps/backend/src/Nexora.Management.Infrastructure/Authentication/JwtSettings.cs
  apps/backend/src/Nexora.Management.Infrastructure/Authentication/JwtTokenService.cs
  apps/backend/src/Nexora.Management.Infrastructure/Interfaces/IAppDbContext.cs
  apps/backend/src/Nexora.Management.Infrastructure/Interfaces/IJwtTokenService.cs
  apps/backend/src/Nexora.Management.Infrastructure/Nexora.Management.Infrastructure.csproj
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/AppDbContext.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/Configurations/RefreshTokenConfiguration.cs
  docs/deployment-guide.md
  docs/development-standards.md
  docs/project-roadmap.md
  docs/system-architecture.md
Due: dotnet format --include, prettier --write

feat(tasks): implement task CRUD operations
  apps/backend/plans/reports/code-reviewer-260103-1538-phase04-task-management.md
  apps/backend/plans/reports/tester-260103-1538-phase04-task-management.md
  apps/backend/src/Nexora.Management.API/Endpoints/TaskEndpoints.cs
  apps/backend/src/Nexora.Management.API/Program.cs
  apps/backend/src/Nexora.Management.Application/Common/Result.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Commands/CreateTask/CreateTaskCommand.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Commands/DeleteTask/DeleteTaskCommand.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Commands/UpdateTask/UpdateTaskCommand.cs
  apps/backend/src/Nexora.Management.Application/Tasks/DTOs/TaskDTOs.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Queries/TaskQueries.cs
  apps/backend/tests/Nexora.Management.Tests/TestResults/980be150-821c-4f79-a0a3-508c871e35b3/coverage.opencover.xml
Due: dotnet format --include, prettier --write

chore: fix GitHub workflows and Turborepo configuration
  .github/workflows/build.yml
  .github/workflows/pr-checks.yml
  docs/codebase-summary.md
  docs/project-roadmap.md
  docs/system-architecture.md
  package.json
Due: prettier --write

chore: commit package-lock.json files for reproducible CI/CD builds
  .gitignore
  apps/frontend/package-lock.json
  package-lock.json
Due: prettier --write

chore: regenerate package-lock.json files
  apps/frontend/package-lock.json
  package-lock.json
Due: prettier --write

fix: use npx turbo in GitHub Actions workflows
  .github/workflows/build.yml
  .github/workflows/pr-checks.yml
Due: none

chore: add placeholder test script to frontend
  apps/frontend/package.json
Due: prettier --write

fix: rename pipeline to tasks in turbo.json for Turborepo 2.0
  turbo.json
Due: prettier --write

fix: rename frontend package to @nexora/frontend
  apps/frontend/package.json
  package-lock.json
Due: prettier --write

docs: update infrastructure-setup.md for CI/CD fixes
  docs/infrastructure-setup.md
Due: prettier --write

feat(auth): implement permission-based authorization system
  apps/backend/plans/reports/code-reviewer-260103-1904-phase03-auth.md
  apps/backend/plans/reports/tester-260103-1859-phase03-auth-testing.md
  apps/backend/src/Nexora.Management.API/Middleware/WorkspaceAuthorizationMiddleware.cs
  apps/backend/src/Nexora.Management.API/Program.cs
  apps/backend/src/Nexora.Management.Application/Authorization/PermissionAuthorizationHandler.cs
  apps/backend/src/Nexora.Management.Application/Authorization/RequirePermissionAttribute.cs
  apps/backend/src/Nexora.Management.Application/Nexora.Management.Application.csproj
  apps/backend/src/Nexora.Management.Infrastructure/Interfaces/IAppDbContext.cs
  apps/backend/src/Nexora.Management.Infrastructure/Persistence/AppDbContext.cs
  docs/wireframes/package-lock.json
Due: dotnet format --include, prettier --write

docs: update documentation for Phase 04 Task Management Core
  docs/README.md
  docs/codebase-summary.md
Due: prettier --write

feat(frontend): implement Phase 05 - Multiple Views (List, Board, Calendar, Gantt)
  apps/backend/src/Nexora.Management.API/Endpoints/TaskEndpoints.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Commands/UpdateTaskStatus/UpdateTaskStatusCommand.cs
  apps/backend/src/Nexora.Management.Application/Tasks/DTOs/ViewDTOs.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Queries/ViewQueries/BoardViewQuery.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Queries/ViewQueries/CalendarViewQuery.cs
  apps/backend/src/Nexora.Management.Application/Tasks/Queries/ViewQueries/GanttViewQuery.cs
  apps/frontend/next.config.ts
  apps/frontend/package.json
  apps/frontend/src/features/tasks/types.ts
  apps/frontend/src/features/views/ViewContext.tsx
  apps/frontend/src/features/views/ViewLayout.tsx
  apps/frontend/src/features/views/ViewSwitcher.tsx
  apps/frontend/src/features/views/board/BoardView.tsx
  apps/frontend/src/features/views/calendar/CalendarView.tsx
  apps/frontend/src/features/views/gantt/GanttView.tsx
  apps/frontend/src/features/views/index.ts
  apps/frontend/src/features/views/list/ListView.tsx
Due: dotnet format --include, eslint --fix, prettier --write

docs: update all documents for Phase 05 completion
  docs/README.md
  docs/codebase-summary.md
  docs/deployment-guide.md
  docs/infrastructure-setup.md
Due: prettier --write

docs: update codebase summary for Phase 06 completion
  docs/codebase-summary.md
Due: prettier --write

docs: update all documentation for Phase 06 completion
  docs/README.md
  docs/project-roadmap.md
  docs/system-architecture.md
Due: prettier --write

chore: update port to 5001 and dependencies
  docker/docker-compose.yml
  package-lock.json
Due: prettier --write

feat(frontend): implement ClickUp Design System Phase 01 Foundation
  apps/frontend/next.config.ts
  apps/frontend/package.json
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/tailwind.config.ts
  docs/codebase-summary.md
  docs/project-roadmap.md
Due: eslint --fix, prettier --write

feat(frontend): implement ClickUp Design System Phase 02 Components
  apps/frontend/src/app/components/showcase/page.tsx
  apps/frontend/src/components/ui/avatar.tsx
  apps/frontend/src/components/ui/badge.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/components/ui/input.tsx
  apps/frontend/src/components/ui/textarea.tsx
  apps/frontend/src/components/ui/tooltip.tsx
  apps/frontend/src/features/notifications/NotificationCenter.tsx
  docs/codebase-summary.md
  docs/design-guidelines.md
  docs/project-roadmap.md
  plans/260104-2033-clickup-design-system/phase-02-components.md
  plans/260104-2033-clickup-design-system/plan.md
Due: eslint --fix, prettier --write

feat(frontend): implement ClickUp Design System Phase 03 Layouts
  apps/frontend/plans/260104-2033-clickup-design-system/plan.md
  apps/frontend/src/components/layout/app-header.tsx
  apps/frontend/src/components/layout/app-layout.tsx
  apps/frontend/src/components/layout/app-sidebar.tsx
  apps/frontend/src/components/layout/board-layout.tsx
  apps/frontend/src/components/layout/breadcrumb.tsx
  apps/frontend/src/components/layout/container.tsx
  apps/frontend/src/components/layout/index.ts
  apps/frontend/src/components/layout/sidebar-nav.tsx
  docs/codebase-summary.md
  docs/design-guidelines.md
  docs/project-roadmap.md
  plans/260104-2033-clickup-design-system/phase-03-layouts.md
Due: eslint --fix, prettier --write

chore(config): update MCP tools JSON schema
  .claude/skills/mcp-management/assets/tools.json
Due: prettier --write

chore(deps): update frontend and root dependencies
  apps/frontend/package-lock.json
  apps/frontend/package.json
  package-lock.json
  package.json
Due: prettier --write

docs: update codebase docs, reports, and design system plans
  README.md
  apps/frontend/plans/reports/code-reviewer-260104-2115-clickup-design-system-foundation.md
  apps/frontend/plans/reports/code-reviewer-260105-0033-phase03-layouts.md
  apps/frontend/plans/reports/code-reviewer-260105-0053-phase04-views-clickup-design-system.md
  apps/frontend/plans/reports/code-reviewer-260105-0118-phase05-polish.md
  apps/frontend/plans/reports/docs-manager-260105-0035-phase-03-layouts-documentation.md
  apps/frontend/plans/reports/docs-manager-260105-0101-phase04-documentation-update.md
  apps/frontend/plans/reports/project-manager-260104-2138-phase01-complete.md
  apps/frontend/plans/reports/project-manager-260105-0035-phase03-complete.md
  apps/frontend/plans/reports/project-manager-260105-0108-phase05-polish-task-extraction.md
  apps/frontend/plans/reports/scout-external-260105-0100-phase04-tasks-exploration.md
  apps/frontend/plans/reports/tester-260105-0030-phase03-layouts.md
  docker/plans/reports/debugger-260104-1527-frontend-styling-issue.md
  docs/code-standards.md
  docs/codebase-summary.md
  docs/deployment-guide.md
  docs/design-review-clickup-comparison.md
  docs/infrastructure-setup.md
  docs/project-overview-pdr.md
  docs/project-roadmap.md
  docs/project-structure.md
  docs/system-architecture.md
  plans/260104-2033-clickup-design-system/plan.md
Due: prettier --write
